.main-content {
	margin: 140px 6% 0 8%;
}
	.main-content .custom-form {
		margin-bottom: 35px;
	}
	.main-content .custom-form-group {
		margin: 0 10px 10px 0;
	}
	.main-content .input-word {
		width: 300px;
	}

	.main-content .word-icon {
		padding: 3%;
		line-height: 1.2em;
	}
	.uui-form-element.bootstrap-select .btn span {
		  position: absolute;
  top: 20%;
  left: 5%;
	}
.uui-form-element.bootstrap-select.lime-green .btn .caret {
	position: absolute;
	left: 90%;
	margin-top: 10px;
}
	.main-content .input-location {
		width: 220px;
	}
	.input-location a {
		text-decoration: none
	}
	.main-content .button-search {
		width: 92px;
	}
	.main-content .input-daterange .input-date {
		width: 76px;
		padding: 4px 9px;
	}
	.main-content .album {
		float: left;
		margin-right: 20px;
		margin-bottom: 35px;
		cursor: pointer;
		width: 300px;
		height: 305px;
	}
	.main-content .album-link {
		text-decoration: none;
		display: block;
		height: 100%;
	}
	.main-content .album-image {
		height: 170px;
	}
	.main-content .album-title {
		height: 120px;
		background: #ffffff;
		min-height: 52px;
		padding: 10px 0;
		font-size: 24px;
		line-height: 26px;
		font-family: 'Oswald Regular', sans-serif;
		font-weight: normal;
		color: #474747;
		letter-spacing: 0.25px;
		text-transform: uppercase;
	}
	.main-content .album-description {
		height: 40px;
		z-index: 0;
	}
	.main-content .album-description .album-date {
		text-align: left;
		color: #ffffff;
		padding: 10px;
		font-family: 'Source Sans Pro regular', sans-serif;
		font-weight: 400;
		font-size: 12px;
	}
	.main-content .album-icon {
		font-size: 20px;
		float: right;
	}